.chart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & > div {
    border: 0.1px solid rgba($color: #fff, $alpha: 0.3);
  }
}

.buy-sell-btn {
  display: flex !important;
  justify-content: space-between !important;
}

#light {
  .chart {
    & > div {
      border: 0.5px solid rgba($color: #634a38, $alpha: 0.3);
    }
  }
}
