.rotate {
  perspective: 1000px;
  animation: rotation 2s infinite linear;
  width: 25vh;
  height: 25vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;

    & > div:first-child {
      flex-grow: 1;
      row-gap: 20px;
      display: flex;
      flex-direction: column;
    }

    @media only screen and (max-width: 1023px) {
      flex-direction: column-reverse;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
