@import "../variables";

.container {
  min-height: calc(100vh - 64px);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.chart-container {
  display: flex;
  flex-grow: 1;
  position: relative;
  min-height: 400px;

  & > div:first-child {
    flex-grow: 1;

    @media only screen and (max-width: 1023px) {
      height: calc(100vh - 200px);
    }
  }

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
    min-height: unset;
  }
}

.chart {
  flex: 1; /* Occupy remaining space in the chart container */
}

.button-group {
  & > button {
    flex-grow: 1;
  }
}

.details {
  display: grid;
  grid-template-columns: auto auto;
}

.action-column {
  background-color: $main-color-d;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6);
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  width: 300px;
  min-height: calc(100vh - 130px);

  @media only screen and (max-width: 1023px) {
    width: auto;
    margin: 10px 0;
    min-height: unset;
  }
}

.side-bar {
  display: grid;
  row-gap: 20px;
  padding: 10px;
}

.red {
  color: red;
}

.green {
  color: lightgreen;
}

.price-item {
  :nth-child(2) {
    width: 200px;
  }
}

#light {
  .loading {
    & > div {
      fill: $light-bg !important;
    }
  }

  button {
    color: $third-color;

    &:disabled {
      background-color: gray;
      color: #999999;

      & > svg {
        color: #999999;
      }
    }
  }

  label {
    color: $third-color;
  }

  .action-column {
    background-color: $light-bg;
    color: $main-color;

    svg {
      color: $third-color;
    }
  }
}
