@import "../variables";

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.p2p-container {
  display: flex !important;
  margin: 20px 0;
  min-height: calc(100vh - 105px);
  border-radius: 20px;
  column-gap: 20px;

  & > .filter {
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    position: sticky;
    top: 90px;
    height: calc(100vh - 155px);

    & > hr {
      margin: 10px 0;
    }
  }

  & > .market-card {
    flex-grow: 1;
    padding: 10px;

    & > .p2p-head-stack {
      margin-bottom: 10px;
      position: relative;
      max-width: 500px;

      & > button {
        z-index: 10;
      }

      & > .p2p-indicator {
        position: absolute;
        left: 0;
        background-color: aliceblue;
        height: 35px;
        width: 50%;
        border-radius: 5px;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    flex-direction: column;

    & > .filter {
      margin: 0 10px;
      width: unset;
      height: unset;
      top: 70px;
      z-index: 50;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }

    & > .market-card > .p2p-head-stack {
      max-width: unset;
    }
  }
}

.market-card {
  padding: 10px;

  & > .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  button {
    width: 100%;
  }

  & > div {
    border-radius: 5px;
  }
}

.market-sell-box {
  position: fixed;
  right: 70px;
  bottom: 50px;
  animation: 0.5s ease-out 0s 1 zoom;

  & > .sell-button {
    backdrop-filter: blur(5px);

    svg {
      color: $white;
      padding-right: 5px;
    }

    &:hover {
      color: $light-bg;

      svg {
        color: $light-bg;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    right: 20px;
    bottom: 20px;
  }
}

#light {
  .filter {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .p2p-indicator {
    background-color: $light-bg;
  }

  .market-sell-box:hover {
    & > .sell-button {
      color: $light-bg;
    }
  }
}
