@import "../variables";

.profile-box {
  display: flex;
  flex-grow: 1;
  background-color: $main-color-d;
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: $box-shadow;
  min-height: calc(100vh - 135px);

  .date {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
  }
}

.table-container {
  height: calc(100vh - 250px);
}

#vertical-tabpanel-0 {
  width: 100%;
}

#dark {
  th {
    background-color: black;
  }
}

#light {
  .profile-box {
    background-color: $third-color;

    button {
      color: $black;

      &:hover {
        background-color: $main-color;
      }
    }

    div {
      color: $black;
    }

    input {
      color: $black;
    }

    label {
      color: $black;
    }
  }
}
