// Global Color
$l-main-color: #f6e6cb;
$l-third-color: #e9e0d1;
$white: #ffffff;
$black: black;

// Global transition
$transition-all: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
// $transition-background: background 0.5s ease-in-out;

// Global Font Size
$text-extra-small: 0.8rem;
$text-small: 1rem;
$text-normal: 1.2rem;
$text-medium: 2.4rem;
$text-large: 3.2rem;
$text-extra-large: 4.8rem;
$text-title: 6.4rem;
